<label for="">Server name</label>
<!-- <input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"
>
<!-- <p>{{ serverName }}</p> -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="serverCreationStatus"></p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
<hr>
<button class="btn btn-primary" (click)="onDetailsToggle()">Toggle Display Details</button>
<p *ngIf="showDetails">Secret password: Swordfish</p>
<p>Button clicked at: </p>
<p *ngFor="let logItem of toggleLog; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'white'}"
    [ngClass]="{'item-fifth': i >= 4}">{{ logItem }}
</p>
<hr>
<input 
    type="text"
    [(ngModel)]="username"
>
<p>{{ username }}</p>
<button 
    (click)="resetUsername()"
    [disabled]="!isUsernameDefined()">Reset username</button>
<p></p>